:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-left: 30%;
  padding-right: 30%;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

nav button:hover {
  opacity: 0.7;
}

/* Home and Dashboard component styles */
.container {
  padding: 1rem;
}

h2 {
  color: #333;
}

p {
  margin: 0.5rem 0;
  color: #222;
}

/* Make buttons consistent with the navbar button */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
  opacity: 0.7;
}
